/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}


h1{
    font-size: 18px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.learn-about h2{
    color: #48BB78;
    font-size: 24px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li a{
    text-align: center;
    padding: 16px;
    color: #6b7280;
    text-decoration: none;
}

.testing a{
    color: white;
    text-decoration: none;
    background-color: #48BB78;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;

}

a:hover{
    color: #5A67D8;
}


div.overview-hero-image>img{
    width: 300px;
    height: 200px;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.overview-hero .container{
    display: flex;
}

.overview-hero{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color:#E2E8F0;
}

.learn-about{
    padding-top: 25px;
}

.learn-about .cards{
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto auto;
    padding: 20px;
    

}
.learn-about .cards .card{
    border-radius: 5px;
    border-style: solid;
    border-color: #E2E8F0;
    box-shadow:0px 5px #E2E8F0;
}

.learn-about .cards .card .card-body{
    padding-left: 20px;
    padding-right: 20px;
}

.cards .card:nth-child(1) img{
    width: 100%;
    height: 300px; 
}

.cards .card:nth-child(2) img{
    width: 100%;
    height: 300px;
}

.cards .card:nth-child(3) img{
    width: 100%;
    height: 300px;
}

.testing .container{
    display: flex;
    margin-bottom: 100px;
}

div.cta{
    white-space: nowrap;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container article img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 50px;
}

article{
    display: flex;
    margin:20px 0 50px 0;

}

.newsletter .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 70px;
    max-width: 500px;
}

.newsletter{
    background-color: #48BB78;
}
    

.stories h2{
    color: #5A67D8;
}

.stories h3{
    font-size: 18px;
}

.stories a{
    color: #5A67D8;
    text-decoration: none;
}

form{
    display: grid;
    grid-template-columns: 60% 25%;
    width: 100%;
    grid-gap: 40px;


}

.testing .container{
    padding-bottom:100px;
    padding-top:100px;;  
}

.testing{
    background-color:#4A5568;
}

.testing h2{
    color: white;
}

.testing .container p{
    color: white;
}

form button{
    margin-left: 0;
    background-color: #5A67D8;
    color: white;
    padding: 15px 30px 15px 30px;
    border: 0px;
    border-radius: 5px;
    width: 100%;
}

.newsletter h3{
    color: white;
}

.newsletter p{
    color: white;
}

.overview-hero h3{
    color: #48BB78;
    font-size: 21px;
}

footer{
    background-color: #4A5568;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer p{
    margin: 0px;
}

#email{
    padding: 15px 0 15px 35px;
    border-radius: 5px; 
    border: 0px;
    width: 100%;
}

.message{
    color: white;
    margin-top: 20px;
}