/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

h1{
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: right;
}
 li a{
    display: block;
    text-align: center;
    padding: 16px;
 }

div.overview-hero-image>img{
    float: left;
    width: 300px;
    height: 200px;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.overview-hero{
    padding-bottom: 150px;
    padding-top: 80px;
}

.learn-about .cards{
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 15px;
}

.cards .card:nth-child(1) img{
    width: 200px;
    height: 300px; 
}

.cards .card:nth-child(2) img{
    width: 200px;
    height: 300px;
}

.cards .card:nth-child(3) img{
    width: 200px;
    height: 300px;
}

.testing .container{
    display: flex;
}

div.cta{
    white-space: nowrap;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container article img{
    border-radius: 50%;
    width: 200px;
    height: 175px;
}
